#heading{
    margin-left: 430px;
    color: black;
}

table{
    margin-top: 40px;
    border-width: 2px;
    border: 2px;
    border-color: black;
    border-style: solid;
    width:70%;
    margin-left: 100px;
}